<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c206e1b6-c48a-4790-a8a1-114cfc5a14b2/resourcegroups/Disabled20200701221546ResourceGroup/providers/Microsoft.Web/sites/Disabled20200701221546</ResourceId>
    <ResourceGroup>Disabled20200701221546ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://disabled20200701221546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>disabled20200701221546.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Disabled20200701221546</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Disabled20200701221546</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Disabled.DisabledDBEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User ID=user@disableddbserver5;Password=P@ssw0rd" Name="Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User Id=user@disableddbserver5;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Disabled.DisabledDBEntities1, Disabled" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ShopContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User ID=user@disableddbserver5;Password=P@ssw0rd" Name="Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User Id=user@disableddbserver5;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Disabled.DAL.ShopContext, Disabled" MigrationConfiguration="Disabled.Migrations.Configuration, Disabled" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ShopContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User Id=user@disableddbserver5;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Disabled.DisabledDBEntities1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:disableddbserver5.database.windows.net,1433;Initial Catalog=Disabled_db;User Id=user@disableddbserver5;Password=P@ssw0rd</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Disabled.DisabledDBEntities1" />
  </ItemGroup>
</Project>